/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

/* Variables */
:root {
  /* Color variables */
  --white: hsl(0, 0%, 100%, 0.9);
  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --rich-black: hsla(200, 95%, 8%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --sapphire-blue: hsla(200, 94%, 28%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --tangerine: hsla(32, 100%, 49%, 1);

  /* Font variables */
  --ff-primary: 'Motserrat', sans-serif;

  /* Other variales */
  --transition: all 0.2s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

}

body, button {
  font-family: var(--ff-primary);
  font-weight: 200;
  line-height: 2rem;
  transition: var(--transition);
}


main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.container {
  background-image: linear-gradient(var(--sapphire-blue), var(--prussian-blue));
  border: 0.4rem solid var(--rich-black);
  width: 400px;
  height: 700px;
  padding: 4rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 3rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: var(--white);
  height: 8rem;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 1rem;
}

.numberpad {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.numbers,
.operations {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
}

.numbers {
  width: 60%;
}


.operations {
  width: 40%;
}

.number,
.operation {
  color: var(--white);
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
}

.number:active, .operation:active {
  transform: scale(0.9);
  transform: translateY(4px);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

.number {
  background-color: var(--prussian-blue);
}

.number:hover {
  background-color: var(--light-cornflower-blue);
  color: var(--prussian-blue);
}

.operation {
  background-color: var(--blue-green);
}

.operation:hover {
  background-color: var(--selective-yellow);
  color: var(--prussian-blue);
}

#equal {
  flex-grow: 1;
  border-radius: 2rem;
  background-color: var(--tangerine);
}

#equal:hover {
  background-color: var(--selective-yellow);
}
