/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* Variables */
:root {
  /* Color variables */
  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --sapphire-blue: hsla(200, 94%, 28%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --tangerine: hsla(32, 100%, 49%, 1);

  /* Font variables */
  --ff-primary: 'Roboto', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  background-image: linear-gradient(var(--sapphire-blue), var(--prussian-blue));
  width: 400px;
  height: 800px;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  border-radius: 2rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: white;
  height: 8rem;
  font-size: 3rem;
  padding: 1.5rem;
}

.numberpad {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  column-gap: 0.5rem;
}

.numbers,
.operations {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
}

.numbers {
  width: 60%;
}

.operations {
  width: 40%;
}

.number,
.operation {
  color: white;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
}

.number {
  background-color: var(--prussian-blue);
}

.operation {
  background-color: var(--blue-green);
}

#equal {
  flex-grow: 1;
  border-radius: 2rem;
  background-color: var(--tangerine);

}
